
# DataBase Postegre SQL
DATABASE_URL="postgresql://change:change@database:5432/app?serverVersion=13&charset=utf8"


## Start API League Of Legends ##
APIKEY=
PLATFORM="euw1"
## End API League Of Legends ##

## Start Docker Environnement ##
APP_NAME=app
APP_PORT=8080
APP_DB_ADMIN_PORT=8081
## End Docker Environnement ##


POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=