parameters:
	ignoreErrors:
		-
			message: '#^Method App\\Match\\Infrastructure\\Client\\RiotApiClientInterface\:\:fetchMatchesByPuuid\(\) invoked with 2 parameters, 5 required\.$#'
			identifier: arguments.count
			count: 1
			path: src/Match/Application/CommandHandler/IngestMatchesByPuuidHandler.php

		-
			message: '#^Method App\\Match\\Application\\QueryHandler\\ListMatchesHandler\:\:__invoke\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Match/Application/QueryHandler/ListMatchesHandler.php

		-
			message: '#^Method App\\Match\\Application\\UseCase\\ListMatchesUseCase\:\:execute\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Match/Application/UseCase/ListMatchesUseCase.php

		-
			message: '#^Method App\\Match\\Domain\\Model\\Matche\:\:create\(\) has parameter \$participants with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Match/Domain/Model/Matche.php

		-
			message: '#^Method App\\Match\\Domain\\Model\\Participant\:\:__construct\(\) has parameter \$items with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Match/Domain/Model/Participant.php

		-
			message: '#^Method App\\Match\\Domain\\Model\\Participant\:\:items\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Match/Domain/Model/Participant.php

		-
			message: '#^Method App\\Match\\Domain\\Repository\\MatchRepositoryInterface\:\:findAll\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Match/Domain/Repository/MatchRepositoryInterface.php

		-
			message: '#^Expression on left side of \?\? is not nullable\.$#'
			identifier: nullCoalesce.expr
			count: 2
			path: src/Match/Factory/MatcheFactory.php

		-
			message: '#^Method App\\Match\\Factory\\MatcheFactory\:\:fromRiotPayload\(\) has parameter \$payload with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Match/Factory/MatcheFactory.php

		-
			message: '#^Method App\\Match\\Infrastructure\\Client\\RiotApiClient\:\:fetchMatch\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Match/Infrastructure/Client/RiotApiClient.php

		-
			message: '#^Method App\\Match\\Infrastructure\\Client\\RiotApiClientInterface\:\:fetchMatch\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Match/Infrastructure/Client/RiotApiClientInterface.php

		-
			message: '#^Property App\\Match\\Infrastructure\\Persistance\\Doctrine\\Entity\\MatchEntity\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Match/Infrastructure/Persistance/Doctrine/Entity/MatchEntity.php

		-
			message: '#^Property App\\Match\\Infrastructure\\Persistance\\Doctrine\\Entity\\ParticipantEntity\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Match/Infrastructure/Persistance/Doctrine/Entity/ParticipantEntity.php

		-
			message: '#^Method App\\Match\\Infrastructure\\Persistance\\Doctrine\\Repository\\DoctrineMatchRepository\:\:findAll\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: src/Match/Infrastructure/Persistance/Doctrine/Repository/DoctrineMatchRepository.php

		-
			message: '#^Method App\\Tests\\Doubles\\Repository\\InMemoryMatchRepository\:\:findAll\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: tests/Doubles/Repository/InMemoryMatchRepository.php

		-
			message: '#^Call to function method_exists\(\) with ''Symfony\\\\Component\\\\Dotenv\\\\Dotenv'' and ''bootEnv'' will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: tests/bootstrap.php
