parameters:
	ignoreErrors:
		-
			message: '#^Property App\\Champion\\Infrastructure\\Persistence\\Doctrine\\Entity\\ChampionImageEntity\:\:\$champion is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Champion/Infrastructure/Persistence/Doctrine/Entity/ChampionImageEntity.php

		-
			message: '#^Property App\\Champion\\Infrastructure\\Persistence\\Doctrine\\Entity\\ChampionImageEntity\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Champion/Infrastructure/Persistence/Doctrine/Entity/ChampionImageEntity.php

		-
			message: '#^Property App\\Champion\\Infrastructure\\Persistence\\Doctrine\\Entity\\ChampionImageEntity\:\:\$id is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Champion/Infrastructure/Persistence/Doctrine/Entity/ChampionImageEntity.php

		-
			message: '#^Property App\\Champion\\Infrastructure\\Persistence\\Doctrine\\Entity\\ChampionInfoEntity\:\:\$champion is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Champion/Infrastructure/Persistence/Doctrine/Entity/ChampionInfoEntity.php

		-
			message: '#^Property App\\Champion\\Infrastructure\\Persistence\\Doctrine\\Entity\\ChampionInfoEntity\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Champion/Infrastructure/Persistence/Doctrine/Entity/ChampionInfoEntity.php

		-
			message: '#^Property App\\Champion\\Infrastructure\\Persistence\\Doctrine\\Entity\\ChampionInfoEntity\:\:\$id is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Champion/Infrastructure/Persistence/Doctrine/Entity/ChampionInfoEntity.php

		-
			message: '#^Property App\\Champion\\Infrastructure\\Persistence\\Doctrine\\Entity\\ChampionStatsEntity\:\:\$champion is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Champion/Infrastructure/Persistence/Doctrine/Entity/ChampionStatsEntity.php

		-
			message: '#^Property App\\Champion\\Infrastructure\\Persistence\\Doctrine\\Entity\\ChampionStatsEntity\:\:\$id \(int\|null\) is never assigned int so it can be removed from the property type\.$#'
			identifier: property.unusedType
			count: 1
			path: src/Champion/Infrastructure/Persistence/Doctrine/Entity/ChampionStatsEntity.php

		-
			message: '#^Property App\\Champion\\Infrastructure\\Persistence\\Doctrine\\Entity\\ChampionStatsEntity\:\:\$id is never read, only written\.$#'
			identifier: property.onlyWritten
			count: 1
			path: src/Champion/Infrastructure/Persistence/Doctrine/Entity/ChampionStatsEntity.php
