parameters:
#    services:
#        -
#            class: App\PHPStan\PropertiesExtension
#            tags:
#                - phpstan.properties.readWriteExtension
    checkGenericClassInNonGenericObjectType: false
    level: 8
    paths:
        - src
    doctrine:
        objectManagerLoader: build/phpstan/doctrine.php