<div class="championBox">
    <a href="#">
        <img src="https://ddragon.leagueoflegends.com/cdn/12.21.1/img/champion/{{ champion.image.complete }}" alt="{{ champion.name }}" height="60" width="60">
        <div class="championName"> {{ champion.name}} </div>
    </a>
</div>