{% extends 'base.html.twig' %}

{% block title %}
    Toutes les Champions
{% endblock %}

{% block body %}
    <div class="container">
        <div class="containerHeader">
            <div class="box">
                <div class="line-header">

                </div>
                <div class="line">
                    <div class="button">TOP</div>
                </div>
                <div class="line">

                </div>
                <div class="line">

                </div>
                <div class="line">

                </div>
                <div class="line">

                </div>
            </div>

            <div class="box">
                <h3>Meilleur Champion</h3>
                <table></table>
            </div>

            <div class="box">
                <h3>Champions les plus bannis</h3>
                <table></table>
            </div>

            <div class="box">
                <h3>Meilleur Joueur</h3>
                <table></table>
            </div>
        </div>

        <div class="championListBox">
            {% for champion in champions %}
                {{ include('champion/__boxAll.html.twig', {champion: champion }) }}
            {% endfor %}
        </div>
    </div>
{% endblock %}

