
.container {
  margin: 20px auto;
  max-width: 1570px;
}

.containerHeader {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
}

.box {
  border: 2px solid white;
  border-radius: 10px;
  margin: 10px 20px;
  padding: 10px;
}


.line-box {
  display: flex;
  align-items: center;
  .text-name {
    margin-left: 5px;
  }
}

.championListBox {
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 10px 10px 23px -1px rgba(0,0,0,0.88);
  color: red;
  display: flex;
  flex-wrap: wrap;
  margin: 30px 20px;
  max-width: 1530px;
  padding: 13px 15px 5px 15px;
}

.championBox{
  padding: 10px 20px;
  width: 115px;
  a {
    text-decoration: none;
  }
  .championName {
    color: white;
    font-size: 0.90rem;
  }
}
